@import url("https://fonts.googleapis.com/css2?family=Carme&family=Cutive&family=Poppins&family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#all {
  width: 100vw;
  height: 100vh;
  background: url(../public/Weather.jpg);
  overflow: hidden;
}

.container {
  background: rgba(240, 248, 255, 0.25);
  border: 5px solid rgb(138, 198, 250);
  height: 100%;
  text-align: center;
}

.container h1 {
  margin-top: 7vh;
  font-size: 7rem;
  letter-spacing: 0.05cm;
  display: flex;
  justify-content: center;
}

.container h4 {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
}

.container .user-input {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

input {
  width: 45vh;
  height: 6vh;
  padding: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid aliceblue;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px rgb(138, 198, 250);
  transition: 0.2s ease-out;
}

input:focus {
  transform: scale(1.05);
}

input::placeholder {
  color: rgb(66, 127, 179);
}

select {
  height: auto;
  width: 30vw;
  padding: 14px;
  border: 1px solid aliceblue;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px rgb(138, 198, 250);
  transition: 0.3s ease-out;
}

select:focus {
  filter: brightness(97%);
}

#submit {
  height: auto;
  padding: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid aliceblue;
  background-color: white;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 3px 5px rgb(138, 198, 250);
  transition: 0.3s ease-out;
}

#submit:hover {
  color: rgb(138, 198, 250);
  background-color: aliceblue;
  border: rgb(138, 198, 250);
  transform: scale(1.05);
}

@media (max-width: 1050px) {
  .container h1 {
    font-size: 5rem;
  }
}
@media (max-width: 760px) {
  .container h1 {
    font-size: 4rem;
  }
}
@media (max-width: 650px) {
  .container h1 {
    font-size: 3rem;
  }
}
@media (max-width: 470px) {
  .container h1 {
    font-size: 2.4rem;
  }
  input {
    width: 30vw;
  }
  input::placeholder {
    font-size: 0.6rem;
  }
}
/* TOP BOTTOM--------------------------------------------------------------------------------------- */

#top,
#bottom {
  height: 50%;
  background: rgba(240, 248, 255, 0.75);
}

#bottom {
  border-left: 5px solid rgb(138, 198, 250);
  border-right: 5px solid rgb(138, 198, 250);
  border-bottom: 5px solid rgb(138, 198, 250);
  display: flex;
}

/* OUTPUT--------------------------------------------------------------------------------------- */
.output {
  width: 50%;
  border-right: 5px solid rgb(138, 198, 250);
  text-wrap: pretty;
  text-align: center;
}

.output .error-class {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  word-spacing: 5px;
  padding-left: 5px;
}

.output .roots-class {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.output .min-class {
  font-size: 1.5rem;
}

.output .city-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}

.output .main-container {
  border: 3px solid rgb(138, 198, 250, 0.5);
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.output .flag-class {
  width: 50%;
  padding: 25px;
  height: auto;
  display: inline-block;
}

.output .city-class {
  display: inline-block;
}

.output .icon-class {
  width: 10vw;
}

.container .title-gradient {
  font-weight: bold;
  background: linear-gradient(
    50deg,
    rgb(1, 17, 87) 30%,
    rgb(66, 127, 179) 100%
  );
  background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.container .gradient {
  background: linear-gradient(
    50deg,
    rgb(66, 127, 179) 20%,
    rgb(1, 17, 87) 100%
  );
  background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.output .gradient-error,
.output .gradient-output {
  font-weight: bold;
  background: linear-gradient(
    50deg,
    rgb(66, 127, 179) 30%,
    rgb(1, 17, 87) 100%
  );
  background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.05);
}

.output .gradient-error {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 990px) {
  .output .city-container {
    font-size: 1.75vw;
  }
  .output .flag-class {
    padding: 15px;
  }
}
@media (max-width: 940px) {
  .output .icon-class {
    width: 20vw;
  }
}
@media (max-width: 908px) {
  .output .main-container {
    font-size: 1rem;
  }
}
@media (max-width: 820px) {
  .output .main-container {
    font-size: 0.8rem;
  }
}
@media (max-width: 770px) {
  .output span {
    font-size: 3rem;
  }
}
@media (max-width: 732px) {
  .output .min-class {
    font-size: 1.2rem;
  }
  .output .icon-class {
    width: 30vw;
  }
}
@media (max-width: 616px) {
  .output .main-container {
    font-size: 0.7rem;
  }
  .output .flag-class {
    width: 25%;
    padding: 5px;
  }
}
@media (max-width: 592px) {
  .output .min-class {
    font-size: 1rem;
  }
}
@media (max-width: 544px) {
  .output .main-container {
    font-size: 0.6rem;
  }
}
@media (max-width: 470px) {
  .output span {
    font-size: 2rem;
  }
}

/* LEAFLET MAP--------------------------------------------------------------------------------------- */

#map {
  float: right;
  height: 100%;
  width: 50%;
}
